@font-face {
    font-family: Blackops;
    src: url(../font/BlackOpsOne-Regular.ttf);
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #253943;
}

img {
    height: 85px;
    width: 90px;
    padding-top: 5px;
}

#login {
    display: flex;
    background-color: #989A9B;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#texto-logo {
    margin-left: 20px;
    font-size: 35px;
    font-family: Blackops;
}

#container
 {
    text-align: center;
}

#buttons {
    text-align: center;
    margin-left: 58px;
}

#fields {
    font-size: 20px;
}

#rcp-senha {
    margin-right: 65px;
    list-style: none;
}

#rcp-senha a {
    list-style: none;
}
